<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link th:href="@{/css/style.css}" rel="stylesheet" />-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/com/com.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--src\main\resources\static\css\style.css-->
    <title>Document</title>
</head>
<body>
    메인
    <div class="page">
        <header>
            <h2>기본설정</h2>
            <nav>
                <ul>
                    <li><a href="#">Food</a></li>
                    <li><a href="">Hobby</a></li>
                    <li><a href="">Game</a></li>
                    <li><a href="">Dream</a></li>
                </ul>
            </nav>
        </header>
        <button onclick="test();">클릭</button>
    </div>
</body>
</html>